<i class="fa-solid fa-link mt-4"></i>

<form action="/" method="POST">
  <div class="mb-4">
    <label for="url-input" class="form-label"></label>
    <input type="url" class="form-control" name="originalUrl" id="url-input" placeholder="Input URL here" required>
    {{!-- <div id="url-input" class="form-text">Original URL: <a href="{{ originalUrl }}" target="_blank">{{ originalUrl }}</a></div> --}}
  </div>
  <button type="submit" class="btn btn-primary">Shorten</button>
</form>