.header {
  text-align: center;
  padding: 10px 0;
  font-size: 60px;
  letter-spacing: 1px;
  box-shadow: 0px 2px 16px 5px rgba(0, 0, 0, 0.25);
}

.fa-link {
  font-size: 150px;
}

form {
  /* outline: auto; */
  width: 500px;
  text-align: center;
}

main {
  border: 3px solid #9A7401;
  width: 550px;
  height: 350px;
  box-shadow: 2px 2px 20px -10px rgba(0, 0, 0, 0.54);
  border-radius: 20px;
}